<div class="container mt-4">
  <h1 class="mb-4"><%= @user.name %>'s Dashboard</h1>

  <div class="mb-4">
    <h2>Your Auctions</h2>
    <ul class="list-group">
      <% @user.items.each do |item| %>
        <li class="list-group-item">
          <%= link_to item.name, auction_path(item.auction_show_page), class: "text-decoration-none" %>
        </li>
      <% end %>
    </ul>
    <%= link_to 'New Auction', new_item_path, class: "btn btn-primary mt-3" %>
  </div>

  <div>
    <h2>Watchlist</h2>
    <ul class="list-group">
      <% @watchlists.each do |watchlist| %>
        <li class="list-group-item p-1">
          <%= link_to watchlist.item.name, auction_path(watchlist.id), class: "text-decoration-none" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
