<!-- app/views/users/dashboard.html.erb -->
<div class="container mx-auto mt-4 px-4">
  <h1 class="mb-4 text-2xl font-bold"><%= @user.name %>'s Dashboard</h1>

  <%= render 'shared/your_auctions', user: @user %>
  <%= render 'shared/your_watchlist', user: @user, watchlists: @watchlists %>
</div>
